<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382630740426-1cnhoq03v1b73iot2h23of4u4b5bso9k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382630740426-1cnhoq03v1b73iot2h23of4u4b5bso9k</string>
	<key>API_KEY</key>
	<string>AIzaSyBDzVLavxMXCQSGqXGtIA5abUYiYljMtRo</string>
	<key>GCM_SENDER_ID</key>
	<string>382630740426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.responsiveUi</string>
	<key>PROJECT_ID</key>
	<string>test-firebase-20fe7</string>
	<key>STORAGE_BUCKET</key>
	<string>test-firebase-20fe7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382630740426:ios:9bc54c934fa6f484858f33</string>
</dict>
</plist>